<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeltaSubtitleRenderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MBDropZone copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MBDropZone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TextRendererTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A37271B81FF636C4009E6C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BD3E261FF8AAE500BB27E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BD3E3A1FF8FFE200BB27E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BD3E4A1FF900AB00BB27E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3C752E01FF6328700CEF8B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
